.map
{
  width: 600px;
  max-width: 95%;
  height: auto;
  margin: 16px auto;
  border: 1px solid #555555;
  box-sizing: border-box;
  padding: 16px;
}

.geolonia-svg-map
{
  width: 100%;
}

.geolonia-svg-map .prefecture
{
  fill: #f7f7f7;
  stroke: #666666;
  cursor: pointer;
}

.geolonia-svg-map .boundary-line
{
  stroke: #999999;
}

.forkme
{
  position: fixed;
  top: 0;
  left: 0;
}

/* スマホで二重タップによる拡大縮小を防止 */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
/*
#https://kitak.hatenablog.jp/entry/2019/08/07/001123
https://shanabrian.com/web/html-css-js-technics/other-ie10-ie11-edge-double-tap-zoom-disabled.php
 */
